@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family:'Montserrat';
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background: #F9E0C8;
    align-items: center;
    box-shadow: -2px 4px 11px -2px rgba(82,49,47,0.6);
}

.img-box{
    width: 20%;
    height: 80%;
    position: relative;
    min-width: 70px;
    max-height: 80%;
}

.logo{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;;
    width: 40%;
}

.navbar-links{
    display: flex;
    gap: .5em;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    color: #A25B55;
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    align-items: center; 
    justify-content: center;
}

#carrito{
    font-weight: 800;
}