@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat";
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  background: #f9e0c8;
  align-items: center;
  box-shadow: -2px 4px 11px -2px rgba(82, 49, 47, 0.6);
}

.img-box {
  width: 20%;
  height: 80%;
  position: relative;
  min-width: 70px;
  max-height: 80%;
}

.logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.navbar-links {
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: #a25b55;
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#carrito {
  font-weight: 800;
}

#section-1 {
  display: flex;
  justify-content: space-between;
  width: 95%;
  height: 60vh;
  margin: 1rem auto;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

#section-1 .text-box {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0.7rem;
  justify-content: space-around;
  gap: 2rem;
  width: 70%;
}

#section-1 .img-section,
#section-1 .text-box {
  position: relative;
  height: 100%;
}

#section-1 .img-section {
  width: 30%;
}

.text-box h2 {
  font-size: 20px;
  max-height: 20%;
  font-weight: 800;
}
.text-box p {
  color: black;
  font-size: 16px;
  font-weight: 600;
}

.text-box button {
  background-color: #c1c8a7;
  color: black;
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
  border: 1px solid #c1c8a7;
  height: 60px;
  width: 30%;
}

.img-section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.7rem;
}
